*TEST/*
bin/*
outputs/*
# fargo3d
arch/*
/fargo3d
setups/**/fargo3d
setups/**/fargo3d.sha256
scripts/bound_*.code
src/rescale.c
std/.lastflags
std/.lastflags.old
*.pyc
*.blocks
*.tar.gz
*.ipynb_checkpoints
*.units
*.dat
*.swp
*.bak
*tests.log
mp.pro
# *.sh
*.out
