anyio
argon2_cffi
argon2_cffi_bindings
arrow
asttokens
async_lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset_normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools
fqdn
h11
h5py
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
jinja2
json5
jsonpointer
jsonschema
jsonschema_specifications
jupyter_client
jupyter_core
jupyter_events
jupyter_lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
MarkupSafe
matplotlib
matplotlib_inline
mistune
nbclient
nbconvert
nbformat
nest_asyncio
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pygments
pyparsing
python_dateutil
python_json_logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986_validator
rfc3987_syntax
rpds_py
scipy
Send2Trash
setuptools
six
soupsieve
stack_data
terminado
tinycss2
tornado
traitlets
typing_extensions
tzdata
uri_template
urllib3
wcwidth
webcolors
webencodings
websocket-client
